<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Cadastro de anúncios</title>
</head>

<body>

    <div class="container py-3">
        <h1>Cadastro de Anúncios</h1>
    </div>
    <div class="container">
        <form name="formCadastro">
            <div class="mb-3">
                <label for="nomeAnuncio" class="form-label">Nome do anúncio</label>
                <input type="text" class="form-control" id="nomeAnuncio">                
            </div>
            <div class="mb-3">
                <label for="nomeCliente" class="form-label">Nome do cliente</label>
                <input type="text" class="form-control" id="nomeCliente">                
            </div>
            <div class="mb-3">
                <label for="dataInicio" class="form-label">Data de início</label>
                <input type="date" class="form-control" id="dataInicio">                
            </div>
            <div class="mb-3">
                <label for="dataFinal" class="form-label">Data de término</label>
                <input type="date" class="form-control" id="dataFinal">                
            </div>
            <div class="mb-3">
                <label for="investimentoDia" class="form-label">Investimento por dia</label>
                <input type="text" class="form-control" id="investimentoDia">                
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</body>

</html>