<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Academia Capgemini</title>
</head>
<body>

<div class="container py-3">
    <h1 class="text-primary">Relatório de anúncios</h1>


    <div class="text-center">
        <form method="get">

            <h4 class="text-secondary">Filtrar relatórios</h4>

            <div class="mb-3">
                <label for="clienteFiltro" class="form-label">Cliente</label> <br />
                <input type="text" class="form-control-sm" id="clienteFiltro">
            </div>

            <div class="mb-3">
                <label for="dataInicioFiltro" class="form-label">Data de início</label> <br />
                <input type="date" class="form-control-sm" id="dataInicioFiltro">
            </div>

            <div class="mb-3">
                <label for="dataInicioFiltro" class="form-label">Data de início</label> <br />
                <input type="date" class="form-control-sm" id="dataInicioFiltro">
            </div>

            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
    </div>
    <br/>


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Anúncio</th>
            <th scope="col">Cliente</th>
            <th scope="col">Valor Investido por dia</th>
            <th scope="col">Visualizações por dia</th>
            <th scope="col">Cliques por dia</th>
            <th scope="col">Compartilhamentos por dia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anuncio : ${anuncios}">
            <td><span th:text="${anuncio.nomeAnuncio}"></span></td>
            <td><span th:text="${anuncio.nomeCliente}"></span></td>
            <td><span th:text="${anuncio.investimento}"></span></td>
            <td><span th:text="${anuncio.qtdeMaximaVisualizacoes()}"></span></td>
            <td><span th:text="${anuncio.cliquesTotais()}"></span></td>
            <td><span th:text="${anuncio.compartilhamentosTotais()}"></span></td>
        </tr>

        </tbody>
    </table>
    <input type="button" class="btn btn-secondary" value="Voltar" th:onclick="'location.href=\'' + @{/index} + '\';'">
</div>

<footer class="bg-light text-center text-lg-start">
    <br/>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-dark" href="https://www.linkedin.com/in/augustobellinaso/" target="_blank">Augusto Loose Bellinaso</a>
    </div>
</footer>
    
</body>
</html>